process {
  memory = 60.GB
  time = 30.d
  cpus = 4

  withName: HMMER_HMMALIGN {
    memory = 60.GB
    time = 30.d
    cpus = 4
  }

  withName: HMMER_ESLALIMASK {
    memory = 60.GB
    time = 30.d
    cpus = 4
  }

  withName: SATIVA {
    cpus = 12
    memory = 120.GB
    time = 30.d
  }

  withName: EXTRACTSEQNAMES {
    cpus = 2
    time = 30.d
  }

  withName: IQTREE_OPTIMIZE {
    cpus = 12
    memory = 120.GB
    time = 30.d
  }
}
